body, main
{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main-title, .title-confirm 
{
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: $text-color;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

p
{
    margin-left: 10px;
    margin-right: 10px;
}
input:valid, textarea:valid
{
    border: solid 3px rgb(18, 196, 18);
}

.recap-final
{
    font-size: 1.2em;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    color: $text-color;
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
