$background-color :  rgb(240, 232, 240);
$darken-background : darken($background-color, 20%);
$box-shadow : darken($background-color, 10%);
$text-color : rgba(153, 103, 10, 0.979);
$darken-textcolor : darken($text-color, 10%);
$text : black;
$lighten-text : cornsilk;