body, main {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.main-title, .title-confirm {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  color: rgba(153, 103, 10, 0.979);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

input:valid, textarea:valid {
  border: solid 3px #12c412;
}

.recap-final {
  font-size: 1.2em;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  color: rgba(153, 103, 10, 0.979);
  padding-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

/* cartes page index */
#listeProduit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.liste_produit a {
  text-decoration: none;
  color: rgba(153, 103, 10, 0.979);
  border: solid 4px #c8aac8;
  background-color: #f0e8f0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin-left: 5px;
}

.liste_produit a:hover {
  color: rgba(153, 103, 10, 0.979);
  font-weight: bold;
}

.produit_card {
  border: solid 3px #f0e8f0;
  width: 276px;
  height: 460px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #dcc9dc;
          box-shadow: 5px 5px 5px #dcc9dc;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.produit_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 500ms ease-out 50ms;
  transition: -webkit-transform 500ms ease-out 50ms;
  transition: transform 500ms ease-out 50ms;
  transition: transform 500ms ease-out 50ms, -webkit-transform 500ms ease-out 50ms;
  -webkit-box-shadow: 10px 5px 5px #dcc9dc;
          box-shadow: 10px 5px 5px #dcc9dc;
}

img {
  width: 270px;
  height: 150px;
  border-radius: 17px;
}

.produit_nom, .detail_nom {
  color: rgba(153, 103, 10, 0.979);
  text-align: center;
  padding-top: 5px;
  margin: 20px;
}

.produit_description, .produit_prix {
  text-align: justify;
  padding: 5px;
}

/* carte page produit */
#detailProduit {
  margin-top: 50px;
}

.detail_description {
  text-align: center;
  font-style: italic;
}

.detail_illustration {
  border-radius: 20px;
  border: solid rgba(153, 103, 10, 0.979) 6px;
  width: 282px;
  margin: auto;
}

#detailOption {
  margin-bottom: 100px;
  text-align: center;
  margin-top: 50px;
}

.detail_prix {
  font-weight: bold;
  color: rgba(153, 103, 10, 0.979);
  text-align: center;
}

/* carte page panier */
.form-panier {
  margin-top: 50px;
  margin-bottom: 30px;
  border: solid 3px #c8aac8;
}

/*bouton mettre dans le panier */
.btn-paw, .btn-check, .btn-suppr, .btn-basket, .btn-shopping {
  padding: 5px;
}

#ajout_panier {
  background-color: #f0e8f0;
  color: rgba(153, 103, 10, 0.979);
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline-style: none;
  width: 230px;
  height: 60px;
  border: solid 5px #c8aac8;
  margin: auto;
}

#ajout_panier a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(153, 103, 10, 0.979);
}

#ajout_panier a:hover {
  color: rgba(153, 103, 10, 0.979);
  font-weight: bold;
}

.btn-continueAchat, .btn-voirPanier {
  background-color: #f0e8f0;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline-style: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 230px;
  border: solid 5px #c8aac8;
}

.btn-continueAchat a, .btn-voirPanier a {
  text-decoration: none;
  color: rgba(153, 103, 10, 0.979);
}

.btn-continueAchat a:hover, .btn-voirPanier a:hover {
  color: rgba(153, 103, 10, 0.979);
  font-weight: bold;
  text-decoration: none;
}

#ajout_panier:active,
#ajout_panier:hover,
.btn-voirPanier:active,
.btn-voirPanier:hover,
.btn-continueAchat:active,
.btn-continueAchat:hover,
.btn-commande:active,
.btn-commande:hover {
  cursor: pointer;
  background-color: #c8aac8;
  -webkit-box-shadow: 5px 5px 5px #dcc9dc;
          box-shadow: 5px 5px 5px #dcc9dc;
  border: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  outline-style: none;
  border: solid 5px #f0e8f0;
  text-decoration: none;
  color: rgba(153, 103, 10, 0.979);
  font-weight: bold;
}

/* bouton commander */
.btn-commande {
  background-color: #f0e8f0;
  color: rgba(153, 103, 10, 0.979);
  border-radius: 20px;
  padding: 5px;
  border: none;
  outline-style: none;
  width: 150px;
  height: 60px;
  border: solid 5px #c8aac8;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.btn-commande a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(153, 103, 10, 0.979);
}

.title-panier {
  font-size: 1.6em;
  text-align: left;
  font-weight: bold;
  color: rgba(153, 103, 10, 0.979);
  padding: 20px;
  margin-top: 30px;
  margin-left: 20px;
}

.title-form {
  font-size: 1.6em;
  text-align: left;
  font-weight: bold;
  color: rgba(153, 103, 10, 0.979);
  padding: 20px;
  margin-left: 20px;
}

#panierVide {
  text-align: center;
  color: #c8aac8;
  font-size: 1.3em;
  margin-bottom: 50px;
}

.circle {
  color: rgba(153, 103, 10, 0.979);
}

.circle:hover {
  color: rgba(105, 71, 7, 0.979);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 500ms ease-out 50ms;
  transition: -webkit-transform 500ms ease-out 50ms;
  transition: transform 500ms ease-out 50ms;
  transition: transform 500ms ease-out 50ms, -webkit-transform 500ms ease-out 50ms;
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

tr, td, th {
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
}

#colonneTotal, #sommeTotal {
  font-weight: bold;
  color: black;
  font-size: 1em;
  text-decoration: underline;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

#colonneTotal:focus, #sommeTotal:focus {
  outline-style: none;
}

@media screen and (min-width: 767px) {
  table {
    display: block;
    margin-left: 150px;
  }
}

@media screen and (min-width: 1023px) {
  table {
    margin-left: 250px;
  }
}

@media screen and (min-width: 1439px) {
  table {
    margin-left: 450px;
  }
}

@media screen and (min-width: 2559px) {
  table {
    margin-left: 900px;
  }
}

.recap {
  text-align: center;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  margin: auto;
  text-align: center;
}

.logo-orinoco {
  width: 200px;
  height: auto;
  border-radius: 110px;
  padding-top: 10px;
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  right: 20px;
}

.navigation li {
  text-decoration: none;
  padding-right: 15px;
  padding-top: 20px;
  color: rgba(153, 103, 10, 0.979);
}

.navigation a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(153, 103, 10, 0.979);
}

.navigation a:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgba(153, 103, 10, 0.979);
}

.nav-mobile {
  display: none;
}

.user, .basket {
  padding-right: 10px;
  color: rgba(153, 103, 10, 0.979);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: absolute;
    right: -10px;
  }
  .nav-mobile li {
    text-decoration: none;
    padding-right: 15px;
    padding-top: 20px;
  }
  header img {
    width: 150px;
    height: auto;
    position: relative;
  }
  .logo {
    margin: auto;
    left: 20px;
  }
}

footer {
  background-color: #f0e8f0;
  border-radius: 20px 20px 0px 0px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 20px;
}

footer ul li {
  padding: 10px;
}

footer ul a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

footer ul a:hover {
  font-weight: bold;
  text-decoration: none;
  color: rgba(153, 103, 10, 0.979);
}

.landmark, .at {
  padding-right: 10px;
}

.lock {
  padding-right: 6px;
}

@media screen and (max-width: 1023px) {
  ul {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */