/*bouton mettre dans le panier */
.btn-paw, .btn-check, .btn-suppr, .btn-basket, .btn-shopping
{
    padding: 5px;
}

#ajout_panier
{
    background-color: $background-color;
    color: $text-color;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline-style: none;
    width: 230px;
    height: 60px;
    border: solid 5px $darken-background;
    margin: auto;
    a
    {
        text-decoration: none;
        cursor: pointer;
        color: $text-color;
            &:hover
            {
                color: $text-color;
                font-weight: bold;
            }
    }
}

.btn-continueAchat, .btn-voirPanier
{
    background-color: $background-color;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline-style: none;
    margin :auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 230px;
    border: solid 5px $darken-background;
    a
    {
        text-decoration: none;
        color: $text-color;
        &:hover
            {
                color: $text-color;
                font-weight: bold;
                text-decoration: none;
            }
    }
}

#ajout_panier:active, 
#ajout_panier:hover, 
.btn-voirPanier:active, 
.btn-voirPanier:hover,
.btn-continueAchat:active, 
.btn-continueAchat:hover, 
.btn-commande:active, 
.btn-commande:hover
{
    cursor: pointer;
    background-color: $darken-background;
    box-shadow: 5px 5px 5px $box-shadow;
    border: none;
    transform: scale(0.9);
    outline-style: none;
    border: solid 5px $background-color;
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
}


/* bouton commander */

.btn-commande
{
    background-color: $background-color;
    color: $text-color;
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline-style: none;
    width: 150px;
    height: 60px;
    border: solid 5px $darken-background;
    margin :auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    a
    {
        text-decoration: none;
        cursor: pointer;
        color: $text-color;
    }
}


/* bouton supprimer */

.btn-supprimer
{
    background-color: $text-color;
    border-radius: 20px;
    border: none;
    outline-style: none;
    padding: 5px;
    width: 130px;
    height: 45px;
    border: solid 5px $darken-textcolor;
    margin :auto;
    display: block;
    color: $lighten-text;
    cursor: pointer;
    a
    {
        text-decoration: none;
        cursor: pointer;
        color: $text-color;
            &:hover
            {
                color: $text-color;
                font-weight: bold;
            }
    }
}

.btn-supprimer:active
{
    background-color: $darken-textcolor;
    box-shadow: 5px 5px 5px $box-shadow;
    border: none;
    transform: scale(0.9);
    outline-style: none;
    border: solid 5px $text-color;
}