/* cartes page index */

#listeProduit
{
    display: flex;
    flex-wrap: wrap;
}

.liste_produit a
{
    text-decoration:none;
    color: $text-color;
    border : solid 4px $darken-background;
    background-color: $background-color;
    border-radius: 10px;
    padding: 10px;
    width : 200px;
    margin-left: 5px;
    &:hover
    {
        color: $text-color;
        font-weight: bold;
    }
}

.produit_card
{
    border : solid 3px $background-color;
    width : 276px;
    height: 460px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $box-shadow;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.produit_card:hover
{
    transform: scale(1.1);
    transition: transform 500ms ease-out 50ms;
    box-shadow: 10px 5px 5px $box-shadow; 
}

img 
{
    width : 270px;
    height : 150px;
    border-radius: 17px;
}

.produit_nom, .detail_nom
{ 
    
    color : $text-color;
    text-align: center;
    padding-top : 5px;
    margin: 20px;
}

.produit_description, .produit_prix
{
    text-align: justify;
    padding : 5px;
}



/* carte page produit */

#detailProduit
{
    margin-top: 50px;
}

.detail_description
{
    text-align: center;
    font-style: italic;
}

.detail_illustration
{
    border-radius: 20px;
    border : solid $text-color 6px;
    width : 282px;
    margin : auto;
}

#detailOption
{
    margin-bottom: 100px;
    text-align: center;
    margin-top: 50px;
}

.detail_prix
{
    font-weight: bold;
    color: $text-color;
    text-align: center;
}

/* carte page panier */

.form-panier
{
    margin-top: 50px;
    margin-bottom: 30px;
    border: solid 3px $darken-background;
}