footer
{
    background-color:$background-color;
    border-radius: 20px 20px 0px 0px;
    ul {
        display: flex;
        justify-content: space-around;
        list-style : none;
        padding : 20px;
        li{
            padding: 10px;
        }
        a{
            text-decoration: none;
            cursor: pointer;
            color: black;
                &:hover{
                    color: $text-color;
                }
        }
    }
}

.landmark, .at
{
    padding-right: 10px;
}

.lock
{
    padding-right: 6px;
}

@media screen and (max-width : 1023px)
{
    ul {
    font-size: 0.9em;
    }
}


@media screen and (max-width : 767px)
{
    ul {
    display: flex;
    flex-direction : column;
    }
}